.code-highlight {
  background-color: #ffff0055;
}

.breakpoint-glyph {
  box-sizing: border-box;
  padding: 6%; /* Make the dot smaller in size */
  margin-top: 2px; /* Fix dot appearing slightly above baseline */
  border-radius: 50%;
  background-clip: content-box;
}

.breakpoint-glyph.solid {
  background-color: #ff5555 !important;
}

.breakpoint-glyph.hint {
  background-color: #ff555555;
}
